<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    </head>
    <body>
        <div class="container">
	
            <h1>Vegetarians!</h1>
            
            <svg class="pulse" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <circle id="Oval" cx="512" cy="512" r="512"></circle>
                <circle id="Oval" cx="512" cy="512" r="512"></circle>
                <circle id="Oval" cx="512" cy="512" r="512"></circle>
        </svg>
            
        </div>
        
        
    </body>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script>

      $(document).ready(function(){
        setTimeout("window.location.replace('/login');",3000);
      })
    </script>
</html>