<html>
    <head>
      <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
      <link rel="stylesheet" type="text/css" href="/stylesheets/board.css">
      <style>
          th{
            border: 2px solid black;
          }
          tr,td{
            border: 1px solid gainsboro;
          }
      </style>
    </head>
    <body>
        <a href="/">
            <img class="tip" src="https://user-images.githubusercontent.com/48408497/87905599-f2c59c80-ca9b-11ea-8ff3-ee6c704137e5.png">
        </a> 
        <div class="cont2">
            <div class="container">
                <div class="limit">
                    <br>
                    <h1>Welcome! <%=username%></h1><br>
                    
                    <button id = 'btnList' class='searchbtn' style="color:black; border: 2px solid black">Go List</button>
                        
                    <br><br><hr><br>
                    
                    <img src="/images/vegan.png">
                        
                    <table style="text-align: center; width: 500px; margin: auto;border: 2px solid black;border-collapse: collapse; ">
                        <tr>
                            <th>userID</th>
                            <th>userName</th>
                            <th>userAddress</th>
                        </tr>
                        <%data.forEach(function(item,index){%>
                            
                        <tr>
                        <td><%=item.user_id%></td>
                        <td><%=item.user_name%></td>
                        <td><%=item.user_adr%></td>
                        </tr>
                            
                        <%});%>
                    </table>
                        
                </div>
            </div>
        </div>
        <button id="btn_logout" style="background-color: #708843;">logout</button>
    </body>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.0/gsap.min.js"></script>
    <script src="/javascripts/board.js"></script>
</html>